In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
#Importing aggregate data from Kaggle to dataframe
meta = pd.concat([pd.read_csv("agg_match_stats_0.csv"),
                 pd.read_csv("agg_match_stats_1.csv"),
                 pd.read_csv("agg_match_stats_2.csv"),
                 pd.read_csv("agg_match_stats_3.csv"),
                 pd.read_csv("agg_match_stats_4.csv")], ignore_index=True)

In [3]:
meta.head()

,date,game_size,match_id,match_mode,party_size,player_assists,player_dbno,player_dist_ride,player_dist_walk,player_dmg,player_kills,player_name,player_survive_time,team_id,team_placement
0,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,1,2870.72400,1784.847780,117,1,SnuffIes,1106.320,4,18
1,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,1,2938.40723,1756.079710,127,1,Ozon3r,1106.315,4,18
2,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,0,0.00000,224.157562,67,0,bovize,235.558,5,33
3,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,0,0.00000,92.935150,0,0,sbahn87,197.553,5,33
4,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,0,2619.07739,2510.447000,175,2,GeminiZZZ,1537.495,14,11

In [5]:
meta.shape

(67369231, 15)

In [10]:
# Import individual death data into dataframe
death = pd.concat([pd.read_csv("kill_match_stats_final_0.csv"),
                 pd.read_csv("kill_match_stats_final_1.csv"),
                 pd.read_csv("kill_match_stats_final_2.csv"),
                 pd.read_csv("kill_match_stats_final_3.csv"),
                 pd.read_csv("kill_match_stats_final_4.csv")], ignore_index=True)

In [9]:
# Isolate unique match_id for solo, Third Person Perspective match
match_list = meta.loc[(meta['party_size'] == 1) & (meta['match_mode'] == 'tpp'), 'match_id'].drop_duplicates()

In [12]:
death_solo = death[death['match_id'].isin(match_list.values)]

In [14]:
# since only kill_match_stats data files contains the information of map being played, so have to filter Map Erangel on death
death_solo_er = death_solo[death_solo['map'] == 'ERANGEL']

In [20]:
#Isolate unique match_id for solo, Third person Perspective match which played on Erangel map
match_list_solo_er = death_solo_er.loc[death_solo_er['map'] == 'ERANGEL','match_id'].drop_duplicates()

In [21]:
meta_solo_er = meta[meta['match_id'].isin(match_list_solo_er.values)]

In [23]:
death_solo_er.shape

(11552955, 12)

In [24]:
meta_solo_er.shape

(11663739, 15)

In [26]:
# Output both filtered data into csv for the other team members to conduct EDA conveniently
death_solo_er.to_csv('death_solo_er.csv', encoding='utf-8', index=False)

In [27]:
# Output both filtered data into csv for the other team members to conduct EDA conveniently
meta_solo_er.to_csv('meta_solo_er.csv', encoding='utf-8', index=False)